---
import { Image } from "astro:assets";
---

<div id="about-me" class="flex flex-col lg:flex-row gap-6">
  <div class="flex flex-col gap-2 items-center">
    <Image
      src="/portfolio/assets/avatar.jpeg"
      alt="Maria Elisa Gammmaldi"
      class="rounded-xl"
      width="200"
      height="200"
    />
  </div>
  <div class="flex flex-col gap-2">
    <h3 class="text-primary text-2xl">Ciao, sono Maria Elisa</h3>
    <p>Classe 1995, aspirante UX/UI Designer.</p>
    <p class="text-sm mt-4">
      Ho sempre amato i lavori creativi ma non ho mai saputo come esprimermi.
    </p>
    <p class="text-sm">Ma chi ha detto che c'è solo un modo?</p>
    <p class="text-sm">
      Fino a ora ho spaziato tra traduzioni, copywriting e content review.
    </p>
    <p class="text-sm">Cos'altro mi aspetta?</p>
  </div>
</div>
