---

---

<section class="flex flex-col gap-4 items-center min-w-96" id="contacts">
  <h3 class="text-primary text-2xl">Contattami</h3>
  <form class="flex flex-col gap-4" id="email-send-form">
    <div class="flex flex-col gap-y-1.5">
      <label class="required-input" for="subject">Oggetto</label>
      <input
        class="rounded-lg p-2 border-gray-100 shadow placeholder:text-sm"
        id="subject"
        name="subject"
        required
        placeholder="La tua richiesta"
      />
    </div>
    <div class="flex flex-col gap-y-1.5">
      <label class="required-input" for="message">Messaggio</label>
      <textarea
        class="rounded-lg placeholder:px-2 border-gray-100 shadow p-2"
        id="message"
        name="message"
        required
        rows="4"></textarea>
    </div>
    <button
      class="bg-primary hover:bg-opacity-80 text-white py-2 px-4 rounded text-sm"
      type="submit">Invia</button
    >
  </form>
</section>

<script>
  document
    .getElementById("email-send-form")!
    .addEventListener("submit", handleSendEmail);

  function handleSendEmail(e: SubmitEvent) {
    e.preventDefault();
    const subject = (document.getElementById("subject") as HTMLInputElement)
      .value;
    const message = (document.getElementById("message") as HTMLInputElement)
      .value;
    if (!subject || !message) {
      return;
    }
    const href = `mailto:megammaldi@gmail.com?subject=${subject}&body=${message}`;
    const a = document.createElement("a");
    a.href = href;
    a.click();
  }
</script>
