---
import ProjectCard from "./ProjectCard.astro";
---

<div id="projects" class="flex flex-col gap-4 items-center">
  <h3 class="text-primary text-2xl">Progetti</h3>
  <div class="flex flex-row flex-wrap justify-center gap-6">
    <ProjectCard
      title="Progetto Copywriting"
      imageSrc="/portfolio/assets/copywriting.png"
      link="il-vestito-verde-copywriting"
      description={'Blog post per "Il Vestito Verde", un sito che si occupa di moda sostenibile, che contiene una serie di consigli per comprare vestiti usati nella citta di Brescia'}
    />
    <ProjectCard
      title="Progetto Grafica"
      imageSrc="/portfolio/assets/grafica.jpg"
      link="orizon-grafica"
      description={"Logo, palette, icone e immagini per Facebook e Instagram per una agenzia di viaggi sostenibili"}
    />
    <ProjectCard
      title="Progetto Discovery"
      imageSrc="/portfolio/assets/discovery.jpg"
      link="vegan-food-discovery"
      description={"Analisi AS IS e ricerca utente per un brand di cibo vegetale"}
    />
    <ProjectCard
      title="Progetto HTML"
      imageSrc="/portfolio/assets/html.png"
      link="portfolio-html"
      description={"Un portfolio per raccontare di me e dei miei lavori"}
    />
  </div>
</div>
