---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
---

<BaseLayout title="Il Vestito Verde">
  <div class="flex flex-col gap-4 p-2 w-full">
    <h3 class="text-primary text-2xl">
      Il Vestito Verde: Progetto Copywriting
    </h3>
    <div class="flex flex-col lg:flex-row gap-4 items-center">
      <Image
        src="/assets/copywriting/sustainability.png"
        alt="Sostenibilità"
        class="lg:h-[100px]"
        width="200"
        height="100"
      />
      <div class="flex flex-col gap-4">
        <p>
          <a class="text-primary" href="https://www.ilvestitoverde.com/"
            >Il Vestito Verde</a
          > è un sito web che ha l'obiettivo di informare e sensibilizzare i consumatori
          per rendere il mondo del fashion più etico e sostenibile. Perché ho scelto
          di sviluppare questo argomento?
        </p>
        <p>
          Il tema della sostenibilità mi sta molto a cuore: sin da piccola la
          mia famiglia mi ha abituata a riparare ciò che era rotto, e
          soprattutto a non sprecare. La moda, però, è una delle industrie più
          inquinanti al mondo: concentrarsi sulla moda sostenibile significa
          contribuire a ridurre l'impatto negativo sull'ambiente, minimizzando
          lo smaltimento dei rifiuti.
        </p>
        <p>
          Un secondo motivo, ma non per importanza, è la responsabilità sociale
          che ho come persona privilegiata: tutti noi che abbiamo la libertà di
          scelta siamo privilegiati e siamo chiamati a combattere, per quanto
          possibile, lo sfruttamento e le condizioni di lavoro non etiche che
          colpiscono il mondo della moda. Investire nella moda sostenibile
          significa promuovere condizioni di lavoro dignitose e il rispetto dei
          diritti umani.
        </p>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row gap-4 items-center">
      <div class="flex flex-col gap-4">
        <p>Il target di referimento del post è:</p>
        <ul class="list-disc list-inside">
          <li>Gen Z</li>
          <li>Millennials</li>
          <li>Persone che hanno a cuore le tematiche ambientali</li>
          <li>
            Persone a cui interessa sostenere l'economia della città in
            questione (Brescia)
          </li>
        </ul>
        <p>
          Dopo aver analizzato a fondo il blog e l’intero sito di Francesca, ho
          selezionato l’idea da sviluppare e ho deciso, per essere conforme a Il
          Vestito Verde, di mantenere un tono di voce informale e colloquiale.
          Il testo così non risulta come una semplice lista di negozi e la
          lettura non risulta pesante o noiosa, ma mi fa entrare in empatia con
          il lettore scatenando allo stesso tempo curiosità.
        </p>
        <p>
          È possibile visualizzare il progetto al seguente <a
            href="https://www.behance.net/gallery/201708585/Progetto-copywriting"
            class="text-primary">link</a
          >.
        </p>
      </div>
      <Image
        src="/assets/copywriting/salva-pianeta.png"
        alt="Sostenibilità"
        class="lg:h-[100px]"
        width="200"
        height="100"
      />
    </div>
  </div></BaseLayout
>
