---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Progetto HTML">
  <div class="flex flex-col gap-4 p-2 w-full">
    <h3 class="text-primary text-2xl">Mari's Portfolio: progetto HTML</h3>
    <p>
      Questo sito è stato realizzato con <b>HTML</b> e <b>CSS</b>, utilizzando <b
        >Astro</b
      > come framework, per raccogliere e presentare i progetti che ho sviluppato
      durante il corso di UX/UI Design di <a
        class="text-primary"
        target="_blank"
        href="https://www.start2impact.it/">start2impact</a
      >.
    </p>
    <p>
      Il principale obiettivo di questo sito è mettere in pratica le competenze
      apprese durante il corso, creando un portfolio dinamico, moderno e
      responsive. Ogni progetto rappresenta un passaggio importante del mio
      percorso di apprendimento, dalla ricerca dell'utente alla creazione di
      interfacce intuitive e funzionali.
    </p>
    <p>Le tecnologie usate sono:</p>
    <ol class="list-disc list-inside">
      <li>
        <b>Astro</b>: framework moderno che ottimizza le prestazioni e consente
        la generazione di siti statici con facilità.
      </li>
      <li>
        <b>HTML5</b>: per strutturare il contenuto delle pagine in modo
        semantico.
      </li>
      <li>
        <b>Javascript</b>: per generare un effetto confetti sulla pagina del
        progetto vegan discovery.
      </li>
      <li>
        <b>CSS3</b>: per creare layout responsive e dare stile ai vari
        componenti del sito
      </li>
    </ol>
    <p>
      Ogni progetto in questo portfolio rappresenta una tappa importante del mio
      percorso e una sfida che ho affrontato con creatività e dedizione.
    </p>
    <p>
      Il source code del mio portfolio è disponibile su github al seguente <a
        class="text-primary"
        target="_blank"
        href="">link</a
      > ed è hostato su Github Pages.
    </p>
  </div>
</BaseLayout>
