---
import BaseHead from "../components/BaseHead.astro";
const { title } = Astro.props;
import "@fontsource/merriweather";
import "@fontsource/lora";
---

<html lang="it">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/portfolio/styles/global.css" />
    <link rel="icon" type="image/x-icon" href="/portfolio/favicon.ico" />
    <meta name="title" content="Mari's Portfolio" />
    <meta name="description" content="Ciao, sono Maria Elisa, Classe 1995, aspirante UX/UI Designer." />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://megammaldi.github.io/portfolio/" />
    <meta property="og:title" content="Mari's Portfolio" />
    <meta property="og:description" content="Ciao, sono Maria Elisa, Classe 1995, aspirante UX/UI Designer." />
    <meta property="og:image" content="https://megammaldi.github.io/portfolio/assets/meta/meta.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://megammaldi.github.io/portfolio/" />
    <meta property="twitter:title" content="Mari's Portfolio" />
    <meta property="twitter:description" content="Ciao, sono Maria Elisa, Classe 1995, aspirante UX/UI Designer." />
    <meta property="twitter:image" content="https://megammaldi.github.io/portfolio/assets/meta/meta.png" />
    <BaseHead title={title} />
  </head>
  <body class="overscroll-x-none">
    <nav
      class="bg-background shadow-md top-0 z-[1000] p-6 flex flex-col lg:flex-row items-center justify-between gap-4 sticky"
    >
      <a href="/portfolio" class="text-5xl font-lora text-primary"
        >Mari's portfolio</a
      >
      <ol class="flex flex-row gap-6">
        <li>
          <a class="hover:text-primary" href="/portfolio/#about-me">About me</a>
        </li>
        <li>
          <a class="hover:text-primary" href="/portfolio/#projects">Progetti</a>
        </li>
        <li>
          <a class="hover:text-primary" href="/portfolio/cv">CV</a>
        </li>
        <li>
          <a class="hover:text-primary" href="/portfolio/#contacts">Contatti</a>
        </li>
      </ol>
    </nav>
    <main class="flex flex-col items-center gap-4 mt-8 px-4 pb-8 min-h-dvh">
      <slot />
    </main>
    <footer
      class="bg-secondary text-[#FAF9F6] flex flex-col items-center gap-4 lg:flex-row w-full p-8 justify-between"
    >
      <p>© 2024 Maria Elisa Gammaldi</p>
      <div class="flex flex-row gap-4">
        <a
          target="_blank"
          class="hover:text-primary"
          href="https://www.linkedin.com/in/maria-elisa-gammaldi-955844199/"
          >LinkedIn</a
        >
        <a
          target="_blank"
          class="hover:text-primary"
          href="https://www.behance.net/mariaegammald">Behance</a
        >
      </div>
    </footer>
  </body>
</html>
